{% extends "base.html" %}
{% block content %}
<!-- Page Wrapper -->
<div id="page-wrapper">

	<!-- Wrapper -->
		<div id="wrapper">

			<!-- Panel (Banner) -->
				<section class="panel banner right">
					<div class="content color0 span-3-75">
						<h1 class="major">Lo sentimos<br />
						Tu compra</h1>
						<p>no se pudo concretar, porfavor intenta de nuevo o contacta al equipo de tpaga al correo wolgangtz@tpaga.co</p>
						<ul class="actions">
							<li><a href="/minicomercio/mi-cuenta/" class="button primary color1 circle icon fa-angle-right">Continuar</a></li>
						</ul>
					</div>
					<div class="image filtered span-1-75" data-position="25% 25%">
						<img src="images/pic01.jpg" alt="" />
					</div>
				</section>
	
		</div>

</div>
{% endblock %}