{% extends "base.html" %}
{% block content %}
<!-- Page Wrapper -->
<div id="page-wrapper">

	<!-- Wrapper -->
		<div id="wrapper">

			<!-- Panel (Banner) -->
				<section class="panel banner right">
					<div class="content color0 span-3-75">
						<h1 class="major">Hola! Bienvenido a<br />
						Minicomercio</h1>
						<p>En este comercio podras comprar consolas PS4 a un excelente y bajo precio, que estas esperando?</p>
						<ul class="actions">
							<p>Registrate aqui ! </p>
							<li><a href="/minicomercio/registrarse/" class="button primary color1 circle icon fa-angle-right">Registrarse</a></li>
						</ul>
						<ul class="actions">
							<p>O ingresa aqui ! </p>
							<li><a href="/minicomercio/ingresar/" class="button primary color1 circle icon fa-angle-right">Ingresar</a></li>
						</ul>
					</div>
					<div class="image filtered span-1-75" data-position="25% 25%">
						<img src="images/pic01.jpg" alt="" />
					</div>
				</section>
	
		</div>

</div>
{% endblock %}