{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Page Wrapper -->
<div id="page-wrapper">

	<!-- Wrapper -->
		<div id="wrapper">


			<!-- Panel -->
				<section class="panel color1">
					<div class="intro joined">
						<h2 class="major">Play station 4</h2>
						<p> es la cuarta videoconsola del modelo PlayStation.8​ Forma parte de las videoconsolas de octava generación. Fue anunciada oficialmente el 20 de febrero de 2013 en el evento PlayStation Meeting 2013,9​ aunque el diseño de la consola no fue presentado hasta el 10 de junio en el E3 2013.10​ Es la sucesora de la PlayStation 3 y compite con Wii U y Switch de Nintendo y Xbox One de Microsoft. Aqui la puedes comprar por tan solo 1'000.000 COP</p>
					</div>
					<div class="inner">

						<ul class="grid-icons three connected">
							<li><span><img style="width: 40%;" src="{% static 'images/ps4-1.jpeg' %}"></img></span></li>
							<li><span><img style="width: 40%;" src="{% static 'images/ps4-2.jpeg' %}"></img></span></li>
							<li><span><img style="width: 40%;" src="{% static 'images/ps4-3.jpeg' %}"></img></span></li>
							<li><span><img style="width: 40%;" src="{% static 'images/ps4-4.jpeg' %}"></img></span></li>
							<li><span><img style="width: 40%;" src="{% static 'images/ps4-5.jpeg' %}"></img></span></li>
							<li><span><img style="width: 40%;" src="{% static 'images/ps4-6.jpeg' %}"></img></span></li>
						</ul>
					</div>

					<div class="inner columns aligned">
						<div class="span-4-5">
							<h3 class="major">Que esperas para comprar la tuya!</h3>

							<form method="post" action="/minicomercio/comprar/" novalidate>
								{% csrf_token %}
								<div class="fields">
									{{ form }}
								</div>
								<ul class="actions">
									<li><input type="submit" value="Comprar" class="primary color2" /></li>
								</ul>
							</form>

						</div>
					</div>


					<div class="span-3">
						<h3 class="major">Mis compras</h3>
						<h4>Aqui podras ver el estado de tus compras</h4>
						<div class="table-wrapper">
							<table>
								<thead>
									<tr>
										<th>Producto</th>
										<th>Cantidad</th>
										<th>Estado de la compra</th>
										<th>Fecha</th>
									</tr>
								</thead>
								<tbody>
									{% for compra in compras %}
									<tr>
										<td>{{ compra.producto }}</td>
										<td>{{ compra.cantidad }}</td>
										<td>{{ compra.estado }}</td>
										<td>{{ compra.fecha_compra }}</td>
									</tr>
									{% endfor %}
								</tbody>


							</table>
						</div>
					</div>


					<form method="post" action="/minicomercio/logout/" novalidate>
						{% csrf_token %}
						<ul class="actions">
							<li><input type="submit" value="Salir" class="primary color2" /></li>
						</ul>
					</form>

				</section>



		</div>

</div>

{% endblock %}