{% extends "base.html" %}
{% block content %}
<!-- Page Wrapper -->
<div id="page-wrapper">
	<!-- Wrapper -->
		<div id="wrapper">
			<!-- Panel -->
				<section class="panel color2-alt">

					<div class="inner columns aligned">
						<div class="span-4-5">
							<h3 class="major">Registrate!</h3>

							<form method="post"  action="/minicomercio/registrar-usuario/" novalidate>
								{% csrf_token %}
								
								<div class="fields">
									{{ form }}
								</div>
								<ul class="actions">
									<li><input type="submit" value="Registrarse" class="primary color2" /></li>
									<li><input type="reset" value="Ya tengo una!" /></li>
								</ul>
							</form>

						</div>
					</div>

				</section>
		</div>

</div>

{% endblock %}